
<ion-card *ngFor="let questions of quizService.quizObject">
  <ion-card-header>
    <ion-card-title>Sunset 80s</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    {{questions.question}}
    <div>
    <ion-button fill="outline" slot="end" (click)="checkAnswer(1,1)">{{questions.answer1}}</ion-button>
    <ion-button fill="outline" slot="end" (click)="checkAnswer(1,2)">{{questions.answer2}}</ion-button>
    <ion-button fill="outline" slot="end" (click)="checkAnswer(1,3)">{{questions.answer3}}</ion-button>
  </div>
  </ion-card-content>
</ion-card>

