
<ion-card *ngFor="let questions of quizService.quizObject, index as index">
  <ion-card-header>
    <ion-card-title>Pregunta {{questions.id}}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    {{questions.question}}
    <div>
    <ion-button fill="outline" slot="end" (click)="checkAnswer(questions.id, 1)">{{questions.answer1}}</ion-button>
    <ion-button fill="outline" slot="end" (click)="checkAnswer(questions.id, 2)">{{questions.answer2}}</ion-button>
    <ion-button fill="outline" slot="end" (click)="checkAnswer(questions.id, 3)">{{questions.answer3}}</ion-button>
  </div>
  </ion-card-content>
</ion-card>
<ion-item style="height:125px">
  <ion-avatar >
    <img src="../../assets/icon-2425861_1920.png" >
  </ion-avatar>
</ion-item>
