
<div class="imagenes-landing">
  <img src="../../assets/comic-2026591_1280.png">
</div>
<div class="div-paragraph">
  <p class="paragraph">Sunset 80s es un espacio retro-temático que busca retro-traernos a años dorados.</p>
</div>
<div>
<div class="imagenes-landing">
  <img src="../../assets/Freddie_Mercury_Statue_Montreux_(retouched).jpg" >
</div>
</div>
<div class="div-paragraph">
  <p class="paragraph">Con contenidos audiovisuales, anécdotas, y experiencias que trascienden a lo meramente musical</p>
</div>
<div class="imagenes-landing">
  <img src="../../assets/imaginaSunset.jpg">
</div>
<div class="div-paragraph">
  <p class="paragraph">Nuestra especialidad es lo retro.</p>
  <hr size="1px" color="grey"  opacity="0.2">
  <p class="paragraph" style="font-size:'30px';color:'red'">Reggaeton is not allowed</p>
</div>
<div class="imagenes-landing">
  <img src="../../assets/kiss-2026515_1280.png">
</div>
<div class="div-paragraph">
  <p class="paragraph">Resuelve nuestro Quiz de anécdotas retro y demuestra tus conocimientos</p>
</div>
<div class="imagenes-landing">
  <img src="../../assets/pop-art-1705440_1280.png">
</div>
<div class="div-paragraph">
  <p class="paragraph">Celebra lo que quieras con nosotros. Contrátanos y te haremos disfrutar.</p>
</div>
<div class="imagenes-landing">
  <img src="../../assets/donald-trump-2790273_1920.jpg">
</div>
<div class="div-paragraph">
  <p class="paragraph">O visita nuestra Web <a href="muyretro.com" > muyretro.com</a> </p>
</div>
<div class="imagenes-landing">
  <img src="../../assets/spiral-2721566_1920.jpg">
</div>

 